[Unit]
Description=Turing Central Station Instance
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/projects/turing/services/central_station/boot.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
