@import "colors.less";


.main {
    .lightbox {
        display: block;
        width: 100%;
        background-color: @color-bg-dark;
        background-image: url('/static/img/stripe.png');
        background-repeat: repeat;
        background-size: 30px 30px;

        min-height: 350px;
        text-align: center;

        .view-screen {
            display: inline-block;
            margin-top: 80px;
            margin-bottom: 100px;
            width: 320px;
            overflow: hidden;

            &.camera-feed {
                img {
                    float: left;
                    width: 400px;
                    border: solid 1px @color-foreground-ui-active*0.25;
                }
            }

            &.face-feed {
                img {
                    float: left;
                    // width: 320px;
                    // height: 240px;
                    transform: rotate(-90deg);
                    border: solid 1px @color-foreground-ui-active*0.25;
                    margin-left: 40px;
                    margin-top: -40px;
                    margin-bottom: -40px;
                }

                div {
                    display: none;
                }
            }

            >.face-box {
                position: relative;
                left: 10px;
                top: 10px;
                width: 50px;
                height: 50px;
                border: solid 1px red;
            }
        }
    }
}
