<!-- <span data-ng-click="showSomething()">{{title}}</span>
<input type="text" data-ng-model="title" placeholder="Write a title here" /> -->

<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="lightbox">
                <div class="view-screen face-feed">
                    <img/>
                    <div class="face-box"></div>
                </div>
                <div class="view-screen camera-feed">
                    <img/>
                    <div class="face-box"></div>
                </div>
            </div>
        </div>
    </div>
</div>
